@import "mocha.css";

* {
  font-family: "FiraMono Nerd Font Propo";
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces button.urgent {
  color: @red;
}

#power-profiles-daemon,
#cpu,
#memory,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#custom-lock,
#language,
#cava,
#network,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.8rem;
  margin: 5px 0 0 0;
}

#cpu {
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem 0.3rem 0.5rem 0.5rem;
}

#memory {
  padding: 0.5rem 0.5rem 0.5rem 0.3rem;
}

#power-profiles-daemon {
  border-radius: 1rem;
  margin: 5px 5px 0 0;
}

#clock {
  color: @blue;
  border-radius: 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
  margin-right: 0.5rem;
  border-radius: 0 1rem 1rem 0;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio,
#wireplumber {
  color: @sapphire;
  margin-left: 0;
  /* padding: 0.5rem 1rem; */
}

#wireplumber {
  border-radius: 0 1rem 1rem 0;
  margin-right: 8px;
}

#network {
  color: @mauve;
  border-bottom: 4px solid @mauve;
}

#tray {
  margin-right: 5px;
  border-radius: 1rem;
}
