preload = $HOME/own/wallpaper/gamer.png
preload = $HOME/own/wallpaper/idol.png
preload = $HOME/own/wallpaper/ainz-dark.png
preload = $HOME/own/wallpaper/ainz-heaven.png
preload = $HOME/own/wallpaper/ainz-shadow.png

wallpaper = , $HOME/own/wallpaper/ainz-heaven.png
